* {
    margin-block-start: 0;
    margin-block-end: 0;
}
.dogs-container article figure {
    width: 20rem;
    height: 20rem;
}
.name-sex-age, .name-sex-age div {
    display: flex;
    justify-content: space-between;
}
.name-sex-age div img {
    width: 25px;
    height: 25px;
}